@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap');
$background: #4B5A5D;
$background-2:#495055;
$time:#E90C7B;
$text-timer:#678186;
$text: #495055;
* {
    margin: 0;
    font-family: 'Antonio', sans-serif;
}

html {
    margin: 0;
    left: 0;
    top: 0;
}

body {
    margin: 0;
    top: 0;
    left: 0;
    background: $background;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: $text;
}

h2 {
    color: $text-timer;
}

h3 {
    color: $time;
}

button {
    color: $text;
    background-color: $text-timer;
    text-decoration: none;
    border-style: none;
}

section {
    width: 65%;
    display: flex;
    flex-direction: column;
    h1 {
        width: 100%;
        height: 50%;
        font-size: 8rem;
        text-align: center;
    }
}

.timer-container {
    width: 100%;
    height: 50%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.card {
    background: $background-2;
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        height: 100%;
        width: 23%;
        writing-mode: vertical-lr;
        text-orientation: sideways-right;
        text-align: start;
        font-size: 3.6rem;
        transform: rotate(180deg);
        padding-top: 15px;
    }
    h3 {
        font-size: 8rem;
        text-align: center;
        padding-right: 2rem;
    }
}

.number-container {
    width: 77%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
        margin-right: 4rem;
        margin-left: 2rem;
        padding: 10px;
    }
}

.hide {
    display: none;
}

.buttons-container {
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 1.5rem;
    button {
        width: 45%;
    }
    #setting {
        width: 10%;
        background-color: #E90C7B;
        margin: 0 25px;
    }
}

.up,
.down {
    height: 15rem;
    background: #678186bb;
}

.up:hover,
.down:hover {
    background-color: #678186;
}

button:active {
    transform: scale(1.1);
    transition: 0.25s;
}

#pomodoro-section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.356);
}

.pomodoro {
    position: relative;
    width: 20rem;
    height: 25rem;
    background: $background-2;
    color: $text-timer;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: 5rem;
        height: 3rem;
        margin-top: 25px;
    }
    h2 {
        margin-top: 25px;
        color: $time;
    }
}

#close {
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    margin: 0;
}

.pomodoro-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    input {
        width: 40px;
        height: 85%;
        margin: 0 15px;
        font-family: 'Antonio', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        // background: $background;
        background-color: rgba(0, 0, 0, 0.24);
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.pom {
    color: rgb(228, 225, 225);
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}